@page "/Roles/PermissionView/{IdRole}/{RoleName}"
@inherits _BaseView
       
<div class="d-flex flex-row py-2 px-1">
    <ComponentDashboardTitle Title="@DashboardResource.StringManagePermission" Description="" />
    <MudText Color="Color.Error" Class="pa-2 mx-2">@RoleName</MudText>
</div>

<MudTabs @ref="tabs" Elevation="25" Rounded="true" Centered="true" ApplyEffectsToContainer="true" AlwaysShowScrollButtons="true">
    @foreach (var item in TitleNames)
    {
        <MudTabPanel Text="@item.Value" OnClick="@(()=>OnSelectedTab(item.Key))">
            <MudTable Items="@SubmitRoleClaimViewModels" Dense="false" Bordered="true" Striped="true" Hover="true"
                  FixedHeader="true" FixedFooter="true" Height="340px">
                <ToolBarContent>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="SaveAsync" ButtonType="ButtonType.Submit">
                        @if (IsProcessing)
                    {
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="ms-n1" />
                        <MudText Class="ms-2">@DashboardResource.StringProcessing</MudText>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Save" Color="Color.Surface" Class="mx-1" />
                        <MudText>@DashboardResource.StringSave @item.Value</MudText>
                    }
                </MudButton>
                <MudSpacer />
                <MudButton Link="/Roles/IndexView" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Filled.PlaylistAddCheck" IconColor="Color.Surface">@DashboardResource.StringList</MudButton>
            </ToolBarContent>
            <HeaderContent>
                <MudTh Class="column-1x"></MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<SubmitRoleClaimViewModel, object>(x=>x.ClaimType)">
                        @DashboardResource.StringPermission
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<SubmitRoleClaimViewModel, object>(x=>x.Action)">
                        @DashboardResource.StringAction
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Status">
                    <MudCheckBox @bind-Checked="@context.IsSelected" Color="Color.Secondary" />
                </MudTd>
                <MudTd DataLabel="ClaimType">@context.ClaimType</MudTd>
                <MudTd DataLabel="Action">@context.Action</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    </MudTabPanel>
    }

    @*  @foreach (var item in AA)
        {
        <tr>
        <td>
        @item.ClaimType
        </td>
        <td>
        @item.IsSelected
        </td>
        </tr>
        }*@
</MudTabs>
