@namespace Maanfee.Dashboard.Views.Core
@inherits _BaseView
@* DialogCultureInformation.razor *@

<MaanfeeDashboardDialog @ref="MDialog" Title="@DashboardResource.StringCultureInformation" IsDialogLoaded="@IsLoaded" DialogContentType="@(this.GetType())">
    <MaanfeeDashboardDialogContent>
        <MudStack Spacing="3" AlignItems="@(SharedLayoutSettings.IsRTL? AlignItems.End: AlignItems.Start)">
            <p>
                <MudText Typo="Typo.button" Color="Color.Primary">Current Culture</MudText>
                <MudText Typo="Typo.caption"> @CultureInfo.CurrentCulture.Name</MudText>
            </p>
            <p>
                <MudText Typo="Typo.button" Color="Color.Primary">Current UI Culture</MudText>
                <MudText Typo="Typo.caption">@CultureInfo.CurrentUICulture.Name</MudText>
            </p>
            <p>
                @if (SharedLayoutSettings.IsRTL)
                {
                    <MudText Typo="Typo.caption">@CultureInfo.CurrentUICulture.DisplayName</MudText>
                    <MudText Typo="Typo.button" Color="Color.Primary">Display UI Name</MudText>
                }
                else
                {
                    <MudText Typo="Typo.button" Color="Color.Primary">Display UI Name</MudText>
                    <MudText Typo="Typo.caption">@CultureInfo.CurrentUICulture.DisplayName</MudText>
                }
            </p>
            <p>
                @if (SharedLayoutSettings.IsRTL)
                {
                    <MudText Typo="Typo.caption">@CultureInfo.CurrentCulture.DisplayName</MudText>
                    <MudText Typo="Typo.button" Color="Color.Primary">Display Name</MudText>
                }
                else
                {
                    <MudText Typo="Typo.button" Color="Color.Primary">Display Name</MudText>
                    <MudText Typo="Typo.caption">@CultureInfo.CurrentCulture.DisplayName</MudText>
                }
            </p>
              <p>
                @if (SharedLayoutSettings.IsRTL)
                {
                    <MudText Typo="Typo.caption">@CultureInfo.CurrentCulture.NativeName</MudText>
                    <MudText Typo="Typo.button" Color="Color.Primary">Native Name</MudText>
                }
                else
                {
                    <MudText Typo="Typo.button" Color="Color.Primary">Native Name</MudText>
                    <MudText Typo="Typo.caption">@CultureInfo.CurrentCulture.NativeName</MudText>
                }
            </p>
              <p>
                <MudText Typo="Typo.button" Color="Color.Primary">English Name</MudText>
                <MudText Typo="Typo.caption">@CultureInfo.CurrentCulture.EnglishName</MudText>
            </p>
              <p>
                <MudText Typo="Typo.button" Color="Color.Primary" Align="@(SharedLayoutSettings.IsRTL? Align.Right: Align.Left)">
                    Two-Letter ISO
                </MudText>
                <MudText Typo="Typo.caption" Align="@(SharedLayoutSettings.IsRTL? Align.Right: Align.Left)">
                    @CultureInfo.CurrentCulture.TwoLetterISOLanguageName
                </MudText>
            </p>
             <p>
                <MudText Typo="Typo.button" Color="Color.Primary" Align="Align.Left">
                    Is Right To Left
                </MudText>
                <MudText Typo="Typo.caption" Align="Align.Left">
                    @CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft
                </MudText>
            </p>
            <MudDivider DividerType="DividerType.FullWidth" />
            <MudStack Row="true">
                @if (SharedLayoutSettings.IsRTL)
                {
                    <MudText Typo="Typo.caption">
                        @DateTime.Now.ToString("D")
                    </MudText>
                    <MudText Typo="Typo.button" Color="Color.Primary">
                        Date
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.button" Color="Color.Primary">
                        Date
                    </MudText>
                    <MudText Typo="Typo.caption">
                        @DateTime.Now.ToString("D")
                    </MudText>
                }
            </MudStack>
            <MudStack Row="true">
                @if (SharedLayoutSettings.IsRTL)
                {
                    <MudText Typo="Typo.caption">
                        @(1234.56.ToString("C"))
                    </MudText>
                    <MudText Typo="Typo.button" Color="Color.Primary">
                        Number
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.button" Color="Color.Primary">
                        Number
                    </MudText>
                    <MudText Typo="Typo.caption">
                        @(1234.56.ToString("C"))
                    </MudText>
                }
            </MudStack>
            <MudStack Row="true">
                @if (SharedLayoutSettings.IsRTL)
                {
                    <MudText Typo="Typo.caption">
                        @(0.75.ToString("P"))
                    </MudText>
                    <MudText Typo="Typo.button" Color="Color.Primary">
                        Percentage
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.button" Color="Color.Primary">
                        Percentage
                    </MudText>
                    <MudText Typo="Typo.caption">
                        @(0.75.ToString("P"))
                    </MudText>
                }
            </MudStack>
        </MudStack>
    </MaanfeeDashboardDialogContent>
</MaanfeeDashboardDialog>

@code {

    private MaanfeeDashboardDialog MDialog = new();

    // *****************************************************

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Task.Delay(500);

        IsLoaded = true;
    }

}
